.sort-asc:after {content: " △";}
.sort-desc:after {content: " ▽";}
.no-matches-message { display: none; }
span[data-filter].dl {
    cursor: pointer;
}
td, th {word-wrap:break-word;}
tr.hide, tr.no-match {display: none!important;}

.loading  {height: 5000px!important;}
.loading *,
.loading .tableFilterSortMoreEntries {
    display: none;
}

.opened {
    visibility: visible;
}

table { table-layout: fixed; }

.fixed-header.tableFilterSortFilterInUse .tableFilterSortFilterFormHolder,
.fixed-header.tableFilterSortFilterInUse table thead {
    position: fixed;
    top: 0;
}
.fixed-header.tableFilterSortFilterInUse .tableFilterSortFilterFormHolder {
    z-index: 10;
}
.fixed-header.tableFilterSortFilterInUse table thead {
    z-index: 9;
    display: table;
}
