* {
  font-family: sans-serif;
  font-size: 13px!important;
}

h1 {
  font-size: 20px!important;
  text-align: center;
}

h3 {
  font-size: 17px!important;
  margin-bottom: 0;
  padding-bottom: 2px;
}

.tableFilterSortHolder {
  padding: 1em;
}

h3 {
  margin-top: 0;
  padding-top: 0;
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

table th, table td {
  width: 12.5%;
  border: 1px solid #fff;
  background-color: #ddd;
  text-align: left;
  padding: 1em;
  vertical-align: top;
}

table th {
  background-color: crimson;
}

table th a, table th {
  color: white;
  border-bottom: 1px solid #fff;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.tableFilterSortFilterFormHolder:before,
.tableFilterSortFilterFormHolder:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}
.tableFilterSortFilterFormHolder:after { clear: both; }
.tableFilterSortFilterFormHolder { zoom: 1; } /* IE < 8 */

.tableFilterSortFilterFormHolder {
  background-color: #ddd;
  padding: 10px;
  position: relative;
  border: 3px solid #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.tableFilterSortFilterFormHolder .filterColumn {
    width: calc(20% - 30px);
    float: left;
    oveflow: auto;
    margin: 20px 20px 20px 0;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px 0 0 10px;
}

.tableFilterSortFilterFormHolder label.groupLabel {
  font-weight: bold;
}

.tableFilterSortFilterFormHolder .filterColumn:nth-child(5n) {
  margin-right: 0px;
}

.tableFilterSortFilterFormHolder .filterColumn:nth-child(5n+1) {
  clear: left;
}

.tableFilterSortFilterFormHolder .filterColumn ul,
.tableFilterSortFilterFormHolder .filterColumn ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tableFilterSortFilterFormHolder .filterColumn.tagFilter div.awesomplete {
    display: block;
}
.tableFilterSortFilterFormHolder .filterColumn input.awesomplete,
.tableFilterSortFilterFormHolder .filterColumn input.keyword {
  display: block;
  padding: 5px;
  background: #ccc;
  border: 1px solid #fff;
  margin: 5px 0;
  border-radius: 5px;
  width: calc(100% - 10px);
  outline: none;
}

.tableFilterSortFilterFormHolder .filterColumn input.keyword {
    background-color: #fff;
    border: 1px solid #ccc;
}

.tableFilterSortFilterFormHolder .filterColumn.tagFilter .awesomplete > ul {
  min-width: auto!important;
}

.tableFilterSortFilterFormHolder .filterColumn.tagFilter .awesomplete > ul li {
  padding: 10px;
}

.tableFilterSortFilterFormHolder .filterColumn.tagFilter input.tag {
  width: 95%
}

.tableFilterSortFilterFormHolder .filterColumn.numberFilter input {
  width: 5em;
}

.tableFilterSortFilterFormHolder .tableFilterSortCurrentSearchHolder {
  width: calc(100% - 17em);
  float: right;
  text-align: right;
  color: #555;
}

.tableFilterSortFilterFormHolder .tableFilterSortCurrentSearchHolder  h3 {
  display: none;
}

.tableFilterSortFilterFormHolder .applyFilter {
    clear: left;
  bottom: 10px;
  right: 10px;
}

.tableFilterSortCurrentSearchHolder ul li span {
  display: inline-block;
}

.tableFilterSortCurrentSearchHolder ul li span:after {
  content: "\00a0|\00a0"
}

.tableFilterSortCurrentSearchHolder ul li span:last-child:after {
  content: ""
}

.tableFilterSortMoreEntries, .tableFilterSortMoreEntriesAlwaysShow {
  padding: 13px;
}

.tableFilterSortCommonContentHolder {
  clear: both;
  border: 3px solid #fff;
  background-color: crimson;
  padding: 10px;
  color: #fff;
}

.tableFilterSortCommonContentHolder h3 {
  display: none;
}

.sortable {
  text-decoration: none;
}

.no-matches-message {
  display: none;
}

.filter-selected {
  background-color: yellow;
}

.tableFilterSortClearFilterForm {
  clear: both;
  float: left;
}

.applyFilter {
  float: right;
}

tr.match {
}

tr.show {
}

tr.hide, tr.no-match {
  display: none!important;
}

.loading {
  background-image: url("data:image/svg+xml;utf8,<svg width='196px' height='196px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' class='uil-ripple'><rect x='0' y='0' width='100' height='100' fill='none' class='bk'></rect><g> <animate attributeName='opacity' dur='2s' repeatCount='indefinite' begin='0s' keyTimes='0;0.33;1' values='1;1;0'></animate><circle cx='50' cy='50' r='40' stroke='#afafb7' fill='none' stroke-width='6' stroke-linecap='round'><animate attributeName='r' dur='2s' repeatCount='indefinite' begin='0s' keyTimes='0;0.33;1' values='0;22;44'></animate></circle></g><g><animate attributeName='opacity' dur='2s' repeatCount='indefinite' begin='1s' keyTimes='0;0.33;1' values='1;1;0'></animate><circle cx='50' cy='50' r='40' stroke='#5cffd6' fill='none' stroke-width='6' stroke-linecap='round'><animate attributeName='r' dur='2s' repeatCount='indefinite' begin='1s' keyTimes='0;0.33;1' values='0;22;44'></animate></circle></g></svg>");
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}

.button {
  display: inline-block;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.paginationTop {
  width: calc(100% - 17em);
  float: right;
  text-align: right;
}

.paginationTop strong {
  display: none;
}

.pagination span, .pagination a {
  padding: 0 10px;
  display: inline-block;
}

.line {
  display: block;
}

span[data-filter].dl {text-decoration: underline;}

input[type="checkbox"] {
    vertical-align: middle;
}
